---
import { ClientRouter } from 'astro:transitions';
import Gallery from '../components/Gallery.astro';
import '../styles/main.css'
import PersonalHero from '../components/PersonalHero.astro';
---

<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>José Campos</title>
  <meta name="description" content="Pagina personal de José Campos, desarrollador web y deportista. Ubicado en Santiago, Chile.">
  <meta name="keywords" content="José Campos, Desarrollador Web, Deportista, Santiago, Chile">
  <meta name="author" content="José Campos">


  <link rel="canonical" href="https://dotdev.cl" />

  <!-- Font Awesome if you need it
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
  -->
  <!-- <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css"/>  -->
  <!--Replace with your tailwind.css once created-->

  <ClientRouter />

</head>

<body  class="is-preload font-sans antialiased text-gray-900 leading-normal tracking-wider bg-cover bg-center max-h-screen" style="background-image:url('personal/background-hero.webp');" >


	<div class="absolute top-0 right-0 h-12 w-18 p-4 z-50">
		<a class="js-change-theme focus:outline-none cursor-pointer">🌙</a> 
	</div>

  <div id="wrapper"> 

    

	<PersonalHero />


	<Gallery />
  </div>
  


	<script is:inline src="/scripts/jquery.min.js"></script>
	<script is:inline src="/scripts/jquery.poptrox.min.js"></script>
	<script is:inline src="/scripts/browser.min.js"></script>
	<script is:inline src="/scripts/breakpoints.min.js"></script>
	<script is:inline src="/scripts/util.js"></script>
	<script is:inline src="/scripts/main.js"></script>


	<script>
		//Init tooltips
		import tippy from 'tippy.js'
		tippy('.link',{
		  placement: 'bottom'
		})
	
	
		//Toggle mode
		const toggle = document.querySelector('.js-change-theme') as HTMLButtonElement;
		const body = document.querySelector('body') as HTMLBodyElement;
		const profile = document.getElementById('profile') as HTMLDivElement;
	
	
		toggle.addEventListener('click', () => {
	
		  if (body.classList.contains('text-gray-900')) {
			toggle.innerHTML = "☀️";
			body.classList.remove('text-gray-900');
			body.classList.add('text-gray-100');

			profile.classList.remove('bg-white');
			profile.classList.add('bg-gray-900');
		  } else
		  {
			toggle.innerHTML = "🌙";
			body.classList.remove('text-gray-100');
			body.classList.add('text-gray-900');

			profile.classList.remove('bg-gray-900');
			profile.classList.add('bg-white');
	
		  }
		});
	
	</script>

</body>

</html>
