---
// src/components/About.astro
---

<section id="about" class="py-20 dark:bg-gray-800">
    <div class="container mx-auto px-4">
      <h2 class="text-3xl font-bold mb-8 text-center dark:text-white">Sobre mi</h2>
      <div class="flex flex-col md:flex-row items-center">
        <div class="md:w-1/2 mb-8 md:mb-0">
          <img src="/img/jose-mountain.jpeg" alt="Imagen de sobre mi" class="rounded-lg w-full max-w-md mx-auto" />
        </div>
        <div class="md:w-1/2 md:pl-8">
          <p class="text-lg mb-6 dark:text-gray-300">
            Soy un desarrollador web apasionado con más de 10 años de experiencia en la creación de aplicaciones web modernas, responsivas y fáciles de usar. Mi trayectoria en tecnología comenzó con la curiosidad de niño, comenzando en el desarrollo web de manera independiente y profesionalizandome a lo largo de los años.
          </p>
          <p class="text-lg mb-6 dark:text-gray-300">
            Cuando no estoy programando, me puedes encontrar haciendo senderismo 🏔️ en los hermosos cerros de Chile, jugando fútbol en el club <a href="https://academiafutbol.cl/" target="_blank" rel="noopener noreferrer" class="text-green-700">"La Academia"</a> ⚽ o probando nuevas tecnologias y proyectos de código abierto. Soy un convencido que la tecnologia puede resolver problemas del mundo real.
          </p>
          
        </div>
      </div>
    </div>
  </section>