---
// src/layouts/Layout.astro
// import { ViewTransitions } from "astro:transitions";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";

import { ClientRouter } from 'astro:transitions';


const { title } = Astro.props;
---

<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="canonical" href="https://dotdev.cl" />
    <title>{title}</title>
    <meta name="description" content="Portafolio de José Campos, desarrollador web y deportista. Ubicado en Santiago, Chile.">
    <meta name="keywords" content="José Campos, Desarrollador Web, Deportista, Santiago, Chile">
    <meta name="author" content="José Campos">
    

    
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    
    <script is:inline>
      // // On page load or when changing themes, best to add inline in `head` to avoid FOUC
      // if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
      //   document.documentElement.classList.add('dark')
      // } else {
      //   document.documentElement.classList.remove('dark')
      // }
    </script>

    <ClientRouter />
  </head>
  <body class="bg-gradient-to-r from-blue-200 to-blue-50 dark:bg-gray-900 text-gray-900 dark:text-white"> 
    <Navigation />

    <slot />

    <Footer />
  </body>
</html>